{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ 'user.edit'|trans }}</h1>
                {{ form_start(form) }}

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <p class="form-control-static">{{ app.user.email }}</p>
                </div>

                {{ form_row(form.password) }}
                {{ form_row(form.name) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
