{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'user.reset-password'|trans }}</h1>

                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form._username) }}

                <div class="g-recaptcha" data-sitekey="{{ captchakey }}"></div>

                <button type="submit" class="btn btn-primary" formnovalidate>Reset password</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='//www.google.com/recaptcha/api.js?hl=it'></script>
{% endblock %}